.box-layout {
    align-items: center ;
    background: white;
    display: flex;
    flex-direction: row-reverse;
    height: 70vh;
    width: 100vw;
    z-index: 0;
    margin: 0;
}

.box-layout__box {
    text-align: center;
    z-index: 1;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}