.projectVisualFull {
    display: flex;
    /* change the value if you want different thickness */
    height: 6px;
    margin: 20px 0;
  }
  
  .projectVisualPart {
    /* Number of the seconds for complete animation */
    transition: width 2s;
  }
  
  .projectLabel {
    /* Nothing here, move along */
    color: darkslategray;
  }
  
  .line-language {
      padding: 0.8rem;
      font-size: 1.4rem;
  }

  .line-language__percent {
    font-weight: lighter;
}