.project__container {
  width: 40rem;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: $s-size;
  padding: $s-size;
  // box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  // border: 1px solid $off-white;
  border-radius: 6px;
  p {
    margin: 0.4rem;
  }
  background-color: $dark-grey;
  color: $off-white;
}
.project__desc {
  width: 38rem;
  height: 3.2rem;
}
.project__buttons {
  margin: 0.4rem;
  margin-top: 2rem;
}
.project-grid {
  margin: 0 auto;
  max-width: 70vw;
}