* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-grey;
    font-family: Helvetica, sans-serif;
    font-size: $m-size;
    line-height: 1.6;
    background-color: darken($color: $dark-grey, $amount: 10);
    color: $off-white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $s-size;
}

.content-container {
    margin: 0 auto;
    max-width: 95rem;
}